body {
  font-family: Yanone Kaffeesatz, Helvetica Neue, Helvetica, sans;
}

svg {
  background: #EEEEFF;
  width: 600px;
  height: 80px;
  display: block;
  margin-top: 20px;
  font-size: small; }

svg line {
  stroke: #000;
  stroke-width: 1;
}

span.stream {
  display: block;
}
